<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h1>Hello, world!</h1>
          <p>这是我记忆空间。</p>
          <p><a class="btn btn-primary btn-lg" href="/posts" role="button">进入新世界</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
