<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <h1><%= post.title %></h1>
      <div><%- post.mkContent %></div>
    </div>
  </body>
</html>
